.aboutList {
	color: var(--primary-color);
	margin: auto;
	max-width: 524px;
	padding-top: 12px;
	padding-bottom: 12px;

	a {
		display: block;
		padding: 22px 12px;
		border-bottom: 1px solid #303030;
		transition: box-shadow .12s;

		&:first-of-type {
			border-top: 1px solid #303030;
		}

		span {
			text-decoration: none !important;
			font-weight: normal !important;
			color: var(--primary-color-dark);
		}

		&:hover, &:active, &:focus {
			text-decoration: none !important;
			color: var(--primary-color);
			box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.87);
			border-color: var(--background-color);
		}
	}
}

.about {
	margin: auto;
	max-width: 524px;
	
	section {
		
		padding: 0 16px 16px;

		h1 {
			text-align: center;
			font-size: 26px;
		}

		h2 {
			font-size: 20px;
		}
	
		p {
			line-height: 1.618;
			text-align: justify;
		}

		img {
			width: 100%;
		}
	}

}