.donate {
	margin: auto;
	max-width: 524px;
	padding: 0 12px 12px;

	p {
		line-height: 1.618;
		text-align: justify;
	}

	.icons {

		margin: 42px 0;
		text-align: center;

		svg {
			margin: 6px;
			cursor: pointer;
			height: 57px;
			position: unset;
		}
	}
}