.settings {
	color: var(--primary-color);
	margin: auto;
	max-width: 524px;
	padding-top: 12px;
	padding-bottom: 12px;

	section {
		display: block;
		padding: 22px 12px 0px;
		border-bottom: 1px solid #303030;
		transition: box-shadow .12s;

		h3 {
			margin: 0;
		}

		input {
			appearance: none;
			background: transparent;
			padding: 6px 10px;
			color: var(--primary-color);
			margin: 0;
			border-radius: 12px;
			border: 2px solid var(--primary-color-dark);
			font-size: 16px;
			transition: border-color .22s;

			&:focus, &:active {
				border-color: var(--primary-color);
			}
		}

		select {
			background: transparent;
			border: 2px solid var(--primary-color-dark);
			padding: 6px 10px;
			border-radius: 12px;
			color: var(--primary-color);
			margin: 0;
			font-size: 16px;
			cursor: pointer;
			margin-bottom: 16px;

			option {
				color: black;
				background-color: #fff;
			}
		}

		&:first-of-type {
			border-top: 1px solid #303030;
		}

		div {
			color: var(--primary-color-dark)
		}

		span {
			color: var(--primary-color-dark)
		}

	}
}