.controller {
	padding: 0;
	padding-bottom: 162px;
	margin: auto;

	@media screen and (orientation: landscape) {
		padding: 0;
	}

	.timer {
		position: fixed;
		bottom: 172px;
		left: 18px;
		cursor: pointer;
		background: var(--primary-color);
		padding: 0 7px;
		line-height: 25px;
		border-radius: 11px;
		color: rgba(0, 0, 0, 0.87);
		z-index: 2;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		user-select: none;

		@media screen and (orientation: landscape) {
			top: 44px;
			bottom: auto;
		}
	}

	.slideSelectionPrompt {
		z-index: 100;
		background: var(--background-color);
		position: fixed;
		top: 72px;
		left: calc(50vw - (512px / 2));
		width: 100vw;
		max-width: 512px;
		height: auto;
		padding: 24px 6px;
		border-radius: 20px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		div {
			padding: 10px 24px;
			color: var(--primary-color);
			cursor: pointer;
			border-radius: 16px;

			&:hover, &:active, &:focus {
				background: rgba(0, 0, 0, 0.22);
			}
		}
	}

	.backgroundHidingBox {
		background: transparent;
		z-index: 99;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		transition: background .22s;
		pointer-events: none;

		&[hide=false] {
			background: rgba(0, 0, 0, 0.72);
			pointer-events: all;
		}
	}

	div.notesContainer {
		padding: 0 12px;
		color: var(--primary-color) !important;
		min-height: calc(100vh - 162px - 12px - 72px);

		&[light=true] {
			color: var(--background-color) !important;
		}

		@media screen and (orientation: landscape) {
			margin: 12px 192px;
			padding: 0;
			width: auto;
			min-height: calc(100vh - (57px + 48px + 12px));
		}

		* {
			opacity:0;
			animation: fadeIn ease-in 1;
			animation-fill-mode: forwards;
			animation-duration: .22s;
			animation-delay: 0;
			margin: 4px 0;
			color: inherit !important;
		}
	}

	div.laserPointer {
		margin: 12px;
		border-radius: 12px;
		width: calc(100vw - (12px * 2));
		height: calc(100vh - 162px - 12px - 32px - 72px);
		border: 1px var(--primary-color) solid;

		&[light=true] {
			border: 1px var(--background-color) solid;
		}

		@media screen and (orientation: landscape) {
			margin: 24px;
			margin: 12px 192px;
			width: auto;
			height: calc(100vh - (57px + (48px + 12px)));
		}
	}

	div.container {
		height: 60vh;
		max-height: 162px;
		padding: 12px;
		position: fixed;
		bottom: 0;
		left: 0;
		background: var(--background-color-light);
		right: 0;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
		border-top-left-radius: 34px;
		border-top-right-radius: 34px;
		transform: translateY(162px);
		animation: slideUp ease-out 1;
		animation-fill-mode:forwards;
		animation-duration: .32s;
		animation-delay: 0;

		@media screen and (orientation: landscape) {
			background: transparent;
			border: none;
			box-shadow: none;
		}

		div {
			width: calc(50% - 8px);
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			filter: grayscale(40%);
			cursor: pointer;

			&:hover {
				filter: grayscale(0);
			}
		}

		div.previousButton {
			background-image: url('/assets/previous_slide.svg');
			background-size: 42px;

			@media screen and (orientation: landscape) {
				position: fixed;
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
				background-color: var(--background-color-light);
				border-radius: 50%;
				height: 15vw;
				max-height: 162px;
				left: 12px;
				width: 15vw;
				max-width: 162px;
				bottom: 12px;
			}
		}

		div.nextButton {
			background-image: url('/assets/next_slide.svg');
			background-size: 42px;
			margin-left: 16px;

			@media screen and (orientation: landscape) {
				position: fixed;
				background-color: var(--background-color-light);
				border-radius: 50%;
				height: 15vw;
				max-height: 162px;
				right: 12px;
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
				width: 15vw;
				max-width: 162px;
				bottom: 12px;
			}
		}

		span.closedCaptions {
			position: fixed;
			bottom: 0;
			width: 100vw;
			left: 0;
			text-align: center;
		}
	}
}

@keyframes slideUp {
	from {
		transform: translateY(162px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}