.home {
	padding: 56px 18px 18px;
	min-height: 100%;
	width: 100%;
	text-align: center;

	a {
		color: var(--primary-color-dark);
	}

	h1 {
		margin-top: 86px;
		margin-bottom: 12px;
	}

	h1, p {
		color: var(--primary-color)
	}

	p {
		margin: 0px 18px 32px;
	}

	.logo {
		background: url("/assets/logo_ohnekontur.png");
		height: 72px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.button {
		cursor: pointer;
    appearance: none;
    background: var(--primary-color);
    border: none;
    font-size: 16px;
    line-height: 1;
    padding: 8px 16px;
    border-radius: 3px;
    color: black;
    transition: background .13s;
    margin-bottom: 16px;
    
    &:hover, &:focus {
      outline: none;
      background: var(--primary-color-dark);
    }
	}

	input.code {
		font-size: 42px;
		width: 248px;
		-webkit-appearance: none;
		background: none;
		border: 3px solid grey;
		border-radius: 12px;
		padding: 12px;
		margin-bottom: 16px;
		text-align: center;
		outline: none;
		color: var(--primary-color);
		transition: border-color .25s;

		&:focus, &:active, &:valid {
			border-color: var(--primary-color);
		}
	}
}
