.home {
	padding: 56px 18px 26px;
	text-align: center;
	margin: auto;
	max-width: 524px;

	h1 {
		margin-top: 56px;
		margin-bottom: 12px;
	}

	p {
		margin: 0px 18px 32px;
	}

	.button, .scanButton {
		cursor: pointer;
		appearance: none;
		background: var(--primary-color);
		border: none;
		font-size: 16px;
		line-height: 1;
		padding: 8px 16px;
		border-radius: 3px;
		color: black;
		transition: background .13s;
		margin-bottom: 16px;
		
		&:hover, &:active, &:focus {
			outline: none;
			background: var(--primary-color-dark);
		}
	}

	.scanButton {
		height: 79px;
		line-height: 79px;
		border: none;
		width: 42px;
		color: grey;
		background: transparent !important;
		position: absolute;
		margin: 0;
		margin-left: -50px;
		padding: 0;

		i {
			line-height: 79px;
		}
		
		&:hover, &:active, &:focus {
			color: var(--primary-color)
		}
	}

	input.code {
		font-size: 42px;
		width: 272px;
		-webkit-appearance: none;
		background: none;
		border: 3px solid grey;
		border-radius: 12px;
		padding: 12px;
		margin-bottom: 16px;
		text-align: center;
		outline: none;
		color: var(--primary-color);
		transition: border-color .25s;

		&:focus, &:active, &:valid {
			border-color: var(--primary-color);
		}
		
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}
	}
}
