.blank {
	
    padding: 24px;
    padding-top: 72px;
	margin: auto;
	max-width: 524px;
	position: relative;
	overflow: hidden;

	.art {
		background-image: url('/assets/page_not_found.svg');
		height: 200px;
		width: 252px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: auto;
	}

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}