.blank {
    padding: 24px;
    padding-top: 72px;
	min-height: 100%;
	width: 100%;
	color: var(--primary-color);
	margin: auto;
	max-width: 524px;

	h1 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}