.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 16px;
	background: var(--primary-color);
	z-index: 50;
	color: rgba(0, 0, 0, 0.87);
	transition: height .22s, top .15s ease-in-out, background-color .22s, box-shadow .22s, color .22s;

	&[shadow=true] {
		box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .87);
	}

	&[transparent=true] {
		background: transparent;
		color: var(--primary-color);

		.navbtn span {
			background: var(--primary-color) !important;
		}
	}

	&[small=true] {
		height: 38px !important;
		padding: 7px 16px !important;

		h1 {
			font-size: 16px !important;
			line-height: calc(38px - 2 * 7px) !important;
		}
	}

	&.hidden {
		top: -56px;
	}
	
	i {
		color: inherit;
	}

	i.actionsIcon {
		float: right;
		display: none;
	}

	i.mngedIcon {
		position: absolute;
		margin-left: 4px;

		@media (max-width: 1024px) {
			display: none;
		}
	}

	.navbtn {
		user-select: none;
		width: 22px;
		height: 18px;
		position: absolute;
		margin: 3px auto;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		@media (min-width: 1025px) {
			opacity: 0;
			cursor: unset;
			margin-left: 8px !important;
		}

		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: rgba(0, 0, 0, 0.87);
			left: 0;
			transition: 0.2s ease-in-out;

			&:nth-child(1) {
				top: 2px;
			}

			&:nth-child(2) {
				top: 8px;
			}

			&:nth-child(3) {
				top: 14px;
			}
		}

		&[id=navbtn-arrow] {
			transform: rotate(180deg) !important;

			@media (min-width: 1025px) {
				opacity: 1 !important;
			}
			
			span {

				&:nth-child(1) {
					transform: rotate(45deg);
					width: 50%;
					left: 12px;
					top: 4px;
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
					width: 50%;
					left: 12px;
					top: 12px;
				}
			}
		}
	}

	h1 {
		text-decoration: none;
		color: inherit;
		font-size: 18px;
		padding: 0 15px;
		margin: 0 0 0 30px;
		line-height: 24px;
		position: absolute;
		font-weight: 400;
		transition: none;

		@media (min-width: 1025px) {
			padding: 0 !important;
			margin: 0 0 0 59px;
		}
	}
}