:root {
	--primary-color: #ffbc16;
	--primary-color-dark: #c78c00;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #212121;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
	font-weight: 400;
	color: var(--primary-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background .25s;
}

body * {
	transition: all .22s;
}

a {
	color: var(--primary-color-dark);
	
	&:hover {
		color: var(--primary-color);
	}
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

*[fadeIn=true] {
	opacity:0;
	animation:fadeIn ease-in 1;
	animation-fill-mode:forwards;
	animation-duration: .22s;
	animation-delay: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}