:root {
	--primary-color: #ffbc16;
	--primary-color-dark: #c78c00;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #212121;
	font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: rgba(255,255,255,.87);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--primary-color-dark);
	transition: color .25s;

	&:hover {
		color: var(--primary-color);
	}
}

span[class=beta] {
	position: fixed;
	bottom: -2px;
	color: var(--primary-color);
	width: 146px;
	text-align: center;
	left: calc(50% - (146px / 2));
	background: #212121;
	border: var(--primary-color) 2px solid;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
