.icon {
  height: 24px;
  position: relative;
  top: 6px;
  margin-right: 30px;

  *[class=applyHoverEffect] {
    fill: transparent;
    transition: fill, .13s;
	}
	
	*[data-name=stroke] {
		stroke: var(--primary-color) !important;
	}

  &:hover, &:focus {
    *[class=applyHoverEffect] {
      fill: var(--hover-color);
    }
  }
}

a:hover, a[class=active] {
  .icon {
    *[class=applyHoverEffect] {
      fill: var(--hover-color);
    }
	}
	.icon {
		*[data-name=stroke] {
			stroke: var(--primary-color-dark) !important;
		}
	}
}