.welcome {
    padding: 24px;
    padding-top: 56px;
	color: var(--primary-color);
	margin: auto;
	max-width: 524px;
	text-align: center;

	.qr {
		background-image: url("/assets/slidecontrol-help-qr.svg");
		height: 172px;
		width: 172px;
		background-size: contain;
		margin: 24px auto 8px;
		background-repeat: no-repeat;
	}
}