.nav {
  background: var(--background-color);
  width: 95%; // Fallback
  width: calc(100vw - 56px);
  position: fixed;
  margin: 0 0 0 -360px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .7);
  max-width: 320px;
  height: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  top: 0;
  transition: none;

  @media (min-width: 1025px) {
    width: 210px !important;
    display: block !important;
    opacity: 1 !important;
    margin-left: 8px !important;
    top: 64px !important;
    background: transparent !important;
    box-shadow: none !important;
    transition: none !important;
  }

  div.drawerHeader {
    border-bottom: 1px solid #000;
    height: 146px;
    width: 100%;
    background-size: 12px;
    background-color: var(--background-color);
    background-position: center;
    overflow: hidden;
    display: block;
    margin-bottom: 8px;
    background-image: url("/assets/logo_small_as_hell.png");

    @media (min-width: 1025px) {
      display: none !important;
    }

    div {
      background-color: rgba(0, 0, 0, .22);
      height: 100%;
      height: calc(100% + 1px);
      width: 100%;
    }
  }

  div.drawerContent {

    height: auto;
    width: 100%;
    position: relative;

    hr {
      display: none;
    
      @media (min-width: 1025px) {
        display: block !important;
        border: none !important;
        border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
        margin: 7px 0 !important;
      }
    }

    div.drawerSubContent {

      padding-bottom: 56px;

      @media (min-width: 1025px) {
        display: block !important;
      }

      a {
        text-decoration: none;
        color: inherit !important;

        &:focus {
          text-decoration: underline;
        }
        
        &[class=active] div {
          color: var(--primary-color);
          background: rgba(255, 255, 255, .05);

          @media (min-width: 1025px) {
            background: rgba(0, 0, 0, .05);
          }
  
          span i {
            color: var(--primary-color);
          }
        }
  
        div {
          font-size: 16px;
          color: var(--primary-color-dark);
          padding: 8px 0 14px 14px;
          font-weight: 400;
          user-select: none;
          cursor: pointer;
    
          &:hover, &:focus, &:active {
            background: rgba(255, 255, 255, .05);

            @media (min-width: 1025px) {
              background: rgba(0, 0, 0, .05);
            }

          }
    
          &:hover span i, &:focus span i, &:active span i {
            color: inherit !important;
          }
    
          span i {
            position: relative;
            top: 6px;
            margin-right: 30px;
            color: var(--primary-color-dark);
          }
        }
      }
    }

    span.credits {
        color: var(--primary-color-dark);
        position: absolute;
        bottom: 6px;
        width: 100%;
        text-align: center;
        font-size: 8px;
    }
  }
}

div.drawerBack {
  background: rgba(0, 0, 0, 0.52);
  display: none;
  height: 100%;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;

  @media (min-width: 1025px) {
    display: none !important;
  }
}